:host {
    display: flex;
    align-items: center;
    
}
mat-form-field {
    display: block;
    margin-bottom: -21px;
    
}
button {
    background-color: rgb(46, 209, 31);
    margin-left: 20px;
    height: 60px;
}