.header-spacer {
  flex: 1 1 auto;
}

.content {
  min-height: calc(100vh - 64px);
  padding: 25px 15px;
  box-sizing: border-box;
}

.active {
  border: 1px solid rgb(148, 145, 145);
}
main{
  background-image:url("kuu-akura-pnK6Q-QTHM4-unsplash.jpg ");
  background-repeat: no-repeat;
  background-size:100% auto;
}
span{
  font-size:16px;
}
