:host {
  max-width: 550px;
  display: block;
  margin: 0 auto;
}

.auth-area {
  padding: 23px;
  margin-top: 10%;
  background: rgba(255, 255, 255, 0.685);
  border-radius: 10px;
}

.auth-area-content {
  padding: 15px 0;
  box-sizing: border-box;
}

.heading {
  margin-bottom: 40px;
}